TIMEZONE=US/Pacific
DOMAIN=example.com

BLUESKY_USERNAME=demo@example.com
BLUESKY_PASSWORD=0000-1111-2222-3333

KEEP_POSTS_FOR=1209600000

SECRET_PATH=CH93xnp6iGIc81CZRhDUgd0aXwSXz8RO6WYGgQfidHy9D1dBixXzsqmomau8YX6oIsre8KvhjoJ5oxoy2HJm9RE9DGcwUUCZqTRgRAggirt1LxlznnJWRc5BzNpv0XJ6F0JU1eRXK21Q7JfjSGyR3R1xuRPLN1YmLGOiyfHeRodcx4pibnKavJH1ENxUMOpr7YTretiL1ru9pAY37I3RyYMkSRc6GowHRX7K3ZuOwQWcpsOvF9vmZ6ZG6TEFriVBihViqvVLzBTvs4CyVClABsvkR4aqjC7Stap6mtgCHwdctpHJCOGS4UmMRtycXstcDrvaWaGjM2chRGYbBFD7pHUa7RoT6sD9yUJY8m3nxwNMKOjaw8JHSNNtUD9G1YenRWoRzruSxqsGLLu